body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:677px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:677px;
}
#u1 {
  position:absolute;
  left:2px;
  top:330px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:67px;
}
#u2 {
  position:absolute;
  left:232px;
  top:610px;
  width:68px;
  height:67px;
}
#u3 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
}
#u4 {
  position:absolute;
  left:80px;
  top:610px;
  width:67px;
  height:67px;
}
#u5 {
  position:absolute;
  left:2px;
  top:26px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6 {
  position:absolute;
  left:173px;
  top:618px;
  width:30px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background:inherit;
  background-color:rgba(214, 218, 219, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u8 {
  position:absolute;
  left:163px;
  top:650px;
  width:50px;
  height:20px;
  text-align:center;
}
#u9 {
  position:absolute;
  left:0px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
